@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  color: var(--foreground);
  background: var(--background);
  font-family: 'Pretendard-Medium';
  src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_bg {
  border-radius: 60px;
  background: radial-gradient(90.84% 66.16% at 50% 100%, #438ffc 0%, #22487e 15.38%, transparent 40.38%);
}

.main_bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  border-radius: 60px;
  opacity: 1;
  animation: fadeOut 2s ease-in-out 0.5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
