name: Deployment (Kubernetes - Manual)

run-name: Deploy to ${{ inputs.environment }} by @${{ github.actor }}

permissions:
  id-token: write
  contents: read

on:
  workflow_dispatch:
    inputs:
      environment:
        description: '배포 대상 환경'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
      ref:
        description: '배포 대상 브랜치/태그'
        required: true
        default: 'HEAD'
        type: string

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      GIT_REF: ${{ inputs.ref == 'HEAD' && github.ref || format('refs/tags/{0}', inputs.ref) }}
      GIT_PROJECT_NAME: uoslife-client

      # AWS
      AWS_REGION: ap-northeast-2
      AWS_ROLE: arn:aws:iam::010928206252:role/uoslife-v2025--deployment

      # Elastic Container Registry
      ECR_REGISTRY: 010928206252.dkr.ecr.ap-northeast-2.amazonaws.com
      ECR_REPOSITORY: uoslife-v2/uoslife-client

    steps:
      - name: Clone Repository
        uses: actions/checkout@v4
        with:
          ref: ${{ env.GIT_REF }}

      - name: Generate Version Code
        run: |
          echo "version=$(date +'%Y%m%d%H%M%S')" >> "$GITHUB_OUTPUT"
          echo "VERSION=$(date +'%Y%m%d%H%M%S')" >> $GITHUB_ENV

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_ROLE }}
          role-session-name: GithubDeployment
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          file: ./apps/teampage/Dockerfile
          context: .
          push: true
          target: runner
          platforms: linux/amd64
          cache-from: type=gha
          cache-to: 'type=gha,mode=max'
          build-args: |
            NODE_ENV=production
            NOTION_API_KEY=${{ secrets.NOTION_API_KEY }}
            NOTION_PEOPLE_DATABASE_ID=${{ secrets.NOTION_PEOPLE_DATABASE_ID }}
            KEYCLOAK_CLIENT_ID=${{ secrets.KEYCLOAK_CLIENT_ID }}
            KEYCLOAK_CLIENT_SECRET=${{ secrets.KEYCLOAK_CLIENT_SECRET }}
            KEYCLOAK_ISSUER=${{ secrets.KEYCLOAK_ISSUER }}
            NEXTAUTH_SECRET=${{ secrets.NEXTAUTH_SECRET }}
            NEXTAUTH_URL=${{ secrets.NEXTAUTH_URL }}
            NEXT_PUBLIC_AMPLITUDE_API_KEY=${{ secrets.NEXT_PUBLIC_AMPLITUDE_API_KEY }}
            NEXT_PUBLIC_GA4_TRACKING_ID=${{ secrets.NEXT_PUBLIC_GA4_TRACKING_ID }}
            NEXT_PUBLIC_API_BASE_URL=${{ secrets.NEXT_PUBLIC_API_BASE_URL_DEV }}
          tags: >
            ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }}:${{ env.VERSION }},
            ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }}:latest

      - name: Checkout GitOps Repository
        uses: actions/checkout@v4
        with:
          repository: uoslife/gitops
          ref: main
          ssh-key: ${{ secrets.GITOPS_SSH_KEY }}
          path: gitops

      - name: Setup Kustomize
        uses: imranismail/setup-kustomize@v2

      - name: Update Image Tag
        run: |
          cd gitops/projects/${{ env.GIT_PROJECT_NAME }}/overlays/${{ inputs.environment }}
          kustomize edit set image ${{ env.ECR_REPOSITORY }}=${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }}:${{ env.VERSION }}

      - name: Apply Image Tag
        run: |
          cd gitops/projects/${{ env.GIT_PROJECT_NAME }}/overlays/${{ inputs.environment }}
          git config --global user.email ${{ github.actor }}@users.noreply.github.com
          git config --global user.name ${{ github.actor }}
          git add .
          git commit -am "projects(${{ env.GIT_PROJECT_NAME }}): update version to ${{ env.VERSION }}"
          git push
